*.html
.dropbox
.ipynb_checkpoints
desktop.ini
/*.aux
/*.bib
/*.synctex
/*.log
/pic/*.png

/*.tex
Colored_Bullseye-wikipedia.tar
600px-Siemens_star-blurred.png
ApertureMTF.pcl
Colored_Bullseye-wikipedia.png
Colored_Bullseye-wikipedia.tgz
DP05.tar
DP05.tgz
E-W-m2-detector-100-256.double
Intensity-max.tgz
Intensity-max.dat
Intensity-max.tar
LW100mmLens.txt
arrfile.npy
arrayplotdemo.tar
arrayplotdemo.tgz
arrayplotdemo.txt
arrfile.gz
arrfile.npz
arrfile.txt
arrfilez.npz
atmotrans5m.txt
binfile.bin
filtered-planck.png
colourcoordinates.tar
colourcoordinates.tgz
detectorflamesensor.txt
filter.png
flamesensordata.tar
flamesensordata.tgz
lwir100mm0150us10ND20090910-CalRadiance.png
lwir100mm0150us10ND20090910-CalDLTemp.png
lwir100mm0150us10ND20090910-CalInternal.png
lwir100mm0150us10ND20090910-CalTempDL.eps
lwir100mm0150us10ND20090910-CalTempRadiance.png
lwir100mm0150us10ND20090910-CaldlRadiance.png
lwir100mm0150us10ND20090910-spectrals.png
missLUT-2000-e.tar
missLUT-2000-e.tgz
missLUT-2000-e.txt
modtrandata.tar
modtrandata.tgz
mpl.png
multipagepdf.pdf
savegraph.svg
savearray.npz
savegraph.png
sensornoise.raw
sensornoise.tar
sensornoise.tgz
sensornoise.txt
siemensstar.tar
siemensstar.tgz
tape7VISNIR5kmTrop23Vis
tape7-01
tape7-02
tape7-02b
tape7-03
tape7-03b
tape7-04
tape7-05
tape7-05b
test.txt
testwith.eps
testwith.png
tp40b_AS30Missile_C1.double
tropical-23krural-45deg-space.fl7
tropical-23krural-45deg-space.tgz
tropical-23krural-45deg-space.ltn
tropical-23krural-45deg-space.tar
twoSourceSpectrum.txt
untitled.txt
sample.ulong
sample.tar
sample.tgz
sampleReflectance.txt
samplesVis.txt
workpackage.cls
images/Backup_of_rydecount.cdr
images/2000px-CIE-1931_diagram_in_LAB_space.svg.png
images/Backup_of_perspective01.cdr
images/CIE 1931.png
images/ModtranPlot.png
images/camerascheme-horiz - Copy.png
images/colour-change-with-sun-position.png
logo.png
09c-StaringArrayDetectors-Visual-low-light-old-datafiles.pdf
09d-StaringArrayDetectors-Infrared-sensor-old-datafiles.pdf
12b.pdf
12f-FOV-optimisation.out
/pyradiSamplePtw.tgz
/sample.tgz
/sensornoise.tgz
/siemensstar.tgz
/tropical-23krural-45deg-space.tgz
/arrfile.gz
/arrayplotdemo.tgz
/Colored_Bullseye-wikipedia.tgz
/colourcoordinates.tgz
/DP05.tgz
/flamesensordata.tgz
/Intensity-max.tgz
/missLUT-2000-e.tgz
/modtrandata.tgz
/*.cls
12g-Plume-texture-Copy1.ipynb
ipnb2tex.py
rawframe0.png
readme.txt
ipnb2tex.py
readme.txt
readme.txt
ipnb2tex.py
helloipython.py
/PAOutput.txt
bunsenspec.txt
/test002.txt
/test003.txt
/test004.txt
/test005.txt
/test001.py
/path1kmflamesensor.txt
/pathspaceflamesensor.txt
/images/Backup_of_rangelay.cdr
/images/Backup_of_signature-contributions.cdr
/images/Backup_of_opticsdefn.cdr
/images/Backup_of_ThermalRadiatorsVariation.cdr
/images/Backup_of_camerascheme-horiz.cdr
